extends template
block link
  -var selected = 'about';
block content
  div.container
    div.about-padding
      div.row
        div.col-md-2
          h2.sectionTitle ABOUT
      div.row
        div.col-md-5(style="margin-top:50px;")
          p  Aikido is a Japanese martial art with its roots in Jujitsu and Judo. Aikido techniques are based on absorbing an opponent’s attack and using their force against them. In this way, a person can overcome an opponent who is larger and stronger.
        div.push-md-1.col-md-6
          div(class="embed-responsive embed-responsive-16by9")
            iframe(width="560" height="315" src="//www.youtube.com/embed/CHtVCl8poAI?rel=0" allowfullscreen)
  hr.section-break
  div.container
    div.about-padding
      div.row
        div.col-md-3
          h2.sectionTitle INSTRUCTORS
      div.row
        div.push-md-2.col-md-4
          div.card
            img(src="img/jesse.jpg" class="img-fluid card-img-top")
            div.card-block
              p.card-title Jesse Brown - 4th Dan
              p.card-text Leader the Streak of Tigers. He is a life-long student of the martial arts. In addition to a 4th degree black belt in aikido, Jesse has a brown belt in judo
              div.text-xs-center
                a(href="jesse.html" class="btn btn-outline-primary") Read More
        div.push-md-2.col-md-4
          div.card
            img(src="img/sylvie.jpg" class="img-fluid card-img-top")
            div.card-block
              p.card-title Sylvie Bougon - 2nd Kyu
              p.card-text Sylvie was born in France and came to Canada in 1988. Sylvie has been assisting with the Tigers program since she began training at Naka Ima in 2011.
              div.text-xs-center
                a(href="sylvie.html" class="btn btn-outline-primary") Read More
block footer
  include footer.jade