extends template
block link
  -var selected = 'about';
block content
  div.container
    div.about-padding
      div.row
        div.col-md-3
          h2.sectionTitle Benefits of Aikido
      div.row
        div.col-md-6
          The Streak of Tigers program involves a vigorous physical workout that helps to improve strength, endurance, balance, flexibility and coordination. In addition to martial arts techniques our program emphasizes safe methods of break falling and rolling. These movements transfer into other sports and daily living. Participants have also benefited from increased focus, concentration and mindfulness. Beyond that, the program is based on the three pillars of the Dainippon Butokukai (the organization that governs Japanese martial arts): respect, compassion and gratitude. At Streak of Tigers the aim of our programme is to promote a healthy lifestyle and cultivate the values of respect, compassion, and gratitude.
        div.col-md-5.push-md-1
          img(src="img/Naka Ima_042.jpg" class="img-fluid")
block footer
  include footer.jade