extends template
block link
  -var selected = 'about';
block content
  div.container
    div.about-padding
      div.row
        div.col-md-3
          h2.sectionTitle JESSE BROWN
      div.row
        div.col-md-6(style="margin-top: 50px")
           p Jesse Brown, Black Belt in Aikido is the Leader of the Streak of Tigers. He is a life-long student of the martial arts. In addition to a 4th degree black belt in Aikido, Jesse is a 1st Dan in Iaido, is currently a brown belt in judo and has studied a wide range of martial arts including: 5 years of Norther Shaolin Kungfu in Japan (the equivalent of 1st Dan) and reached teaching level in Baji Quan (equivalent of 3rd Dan). He has competed in boxing at the provincial level and remains active in competitive Judo. He has won a gold medal at an international competition in May of 2016. Prior to joining the teaching staff at Naka Ima, Jesse spent five years teaching and training in Japan; he is also fluent in spoken and written Japanese. His passion for martial arts has led him all over the world to train with many different instructors in a range of varying disciplines. He is also currently completing a bachelor’s degree in kinesiology at York University and works as a strength and conditioning coach.
        div.col-md-5.push-md-1
          img(src="img/jesse2.jpg" class="img-fluid")
block footer
  include footer.jade