div.container
  div.row
    div.col-md-2.light-nav
      div.row
        div.col-xs-12
          img(src="img/tiger_logo.png" class="img-fluid pull-xs-left" )
          em STREAK
          br
          em OF
          br
          em TIGERS
      div.row
        div.text-md-center
          p NAKA IMA
          p AIKIKAI AIKIDO
    div.col-md-2.dark-nav
      ul.nav
        li.nav-item
          a(href="index.html" class="nav-link active") HOME
        li.nav-item
          a(href="about.html" class="nav-link") ABOUT
        li.nav-item
          a(href="#" class="nav-link") SCHEDULE
        li.nav-item
          a(href="#" class="nav-link") PHOTO
        li.nav-item
          a(href="#" class="nav-link") REGISTER
        li.nav-item
          a(href="#" class="nav-link") CONTACT