extends template
block link
  -var selected = 'about';
block content
  div.container
    div.about-padding
      div.row
        div.col-md-3
          h2.sectionTitle Sylvie Bougon
      div.row
        div.col-md-6
           p Sylvie Bougon, Black Belt. Sylvie was born in France and came to Canada in 1988. Sylvie has been assisting with the Tigers program since she began training at Naka Ima in 2011. Sylvie also runs the Streak of Tiger’s Sunday fencing and art programs. She has 15 years of background in European fencing, and holds a bachelor’s degree in Fine Arts from "Ecole d'art de Luminy, (Marseille, France), and a bachelor’s honours degree in Graphic Design from George Brown College. Sylvie has won many awards for illustration in design magazines, including 3 awards for graphic design. Her work has been shown in galleries. She loves to teach art to children and adults as it develops subtle layers of intelligence, focus, observation, and creativity that leads to a happy life with vision and passion.
        div.col-md-5.push-md-1
          img(src="img/sylvie2.jpg" class="img-fluid")
block footer
  include footer.jade