/* Photos */
.item{
  //background: #ccc;
  height: 160px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  //border-radius: 4px;
  //padding: 20px;
  box-sizing: border-box;
  color: white;
  width: 200px;
  overflow: hidden;
  &:nth-child(4n-5){
    height: 150px;
  }
  &:nth-child(2n){
    height: 300px;
  }
  &:nth-child(3n){
    height: 210px;
  }
  background-position: center;
  background-size: cover;

  @for $i from 1 through 41{
    &:nth-child(#{$i}) {
      background-image: url("../img/gallery/NakaIma_#{$i}.jpeg");
    }
  }
}

// ANIMATION STARTS HERE

.item{
  opacity: 0;
}
.item.is-visible{
  animation: Items 600ms ease-in forwards;
}


@keyframes Items{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}