//bootstrap variables
//$enable-flex: true;
$font-family-sans-serif: "Open Sans";
$brand-primary: #FF893F;
$body-bg: #F5F5F5;
$body-color: #80838D;
$headings-font-weight: 900;
$headings-font-family: "Roboto";
$footer-color: #3e454c;
$footer-icon-color: #e06314;

$menu-dark: rgba(62,69,76,0.98);

@import 'bootstrap-custom';
@import 'home';

html,body{
  height: 100%;
}

.bg-faded{
  background-color: rgba(247,247,249, 0.98);
}

/* Navigation & Navbar */

.navbar{
  padding: 0;
}

.navbar-brand{
  span{
    display: inline-block;
    margin-top: 20.5px;
    margin-left: 10px;
    text-transform: uppercase;
    color: $body-color;

    &:hover{
      color: $brand-primary;
    }
  }
}
.navbar-light .navbar-nav .active > .nav-link {
  color: $brand-primary;
}

.navbar-light .navbar-nav .nav-link{
  color: $body-color;
  text-transform: uppercase;

  &:hover{
    color: rgba( $brand-primary, .9);
  }
}

ul.nav.navbar-nav.pull-md-right{
  margin-top: 20.5px;
}

/* Footer */

footer{
  background-color: $footer-color;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  font-family: 'Lato';
  text-align: center;

  i{
   // font-size: 6.25rem;
    color: $footer-icon-color;
  }

  .lead{
    font-weight: 400;
  }

  p{
    text-align: left;
    line-height: 1.3rem;
    margin: 0;

    &:nth-child(1){
     margin-top: .5rem;
    }
  }
}

.jumbo-about{
  background: url("../img/Naka Ima_007a.jpg") no-repeat center center;
  background-size: cover;
  //height: 32.8125rem;
}

.about-padding{
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;

  .sectionTitle{
    border-bottom: thin solid $body-color;
    margin-bottom: 3.25rem;
  }

}