//bootstrap variables
//$enable-flex: true;
$font-family-sans-serif: "Open Sans";
$brand-primary: #FF893F;
$body-bg: #F5F5F5;
$body-color: #80838D;
$headings-font-weight: 900;
$headings-font-family: "Roboto";
$footer-color: #3e454c;
$footer-icon-color: #e06314;

$menu-dark: rgba(62,69,76,0.98);

@import 'bootstrap-custom';
@import 'home';
@import 'about';
@import 'photos';

html,body{
  height: 100%;
}

.bg-faded{
  background-color: rgba(247,247,249, 0.98);
}

/* Navigation & Navbar */

.navbar{
  padding: 0;
}

.navbar-brand{
  span{
    @include media-breakpoint-up(lg){
      display: inline-block;
    }
    margin-top: 20.5px;
    margin-left: 10px;
    text-transform: uppercase;
    color: $body-color;

    &:hover{
      color: $brand-primary;
    }
  }
}
.navbar-light .navbar-nav .active > .nav-link {
  color: $brand-primary;
}

.navbar-nav .nav-item{
  @include media-breakpoint-down(md){
    float: none;
  }
}

.navbar-nav .nav-item + .nav-item{
  @include media-breakpoint-down(md){
    margin-left: 0px;
  }
}

.navbar-light .navbar-nav .nav-link{
  color: $body-color;
  text-transform: uppercase;

  &:hover{
    color: rgba( $brand-primary, .9);
  }
}

ul.nav.navbar-nav.pull-lg-right{
  @include media-breakpoint-up(lg){
    margin-top: 20.5px;
  }
}

.navbar-brand{
  @include media-breakpoint-down(md){
    width: 100%;
  }
}

/* Footer */

footer{
  background-color: $footer-color;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  font-family: 'Lato';
  text-align: center;

  i{
   // font-size: 6.25rem;
    color: $footer-icon-color;
  }

  .footer-icon-margin{
    @include media-breakpoint-down(md){
      margin-top: 20px;
    }
  }

  .lead{
    font-weight: 400;
  }

  p{
    text-align: left;
    line-height: 1.3rem;
    margin: 0;

    &:nth-child(1){
     margin-top: .5rem;
    }
  }
}

/* Schedule */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


.nav-tabs .nav-link.active{
  background-color: $footer-color;
  color: #eceeef;
  border-color: $footer-color;

  &:focus{
    background-color: $footer-color;
    color: white;
  }

  &:hover{
    background-color: $footer-color;
    color: #eceeef;
    border-color: transparent;
  }
}

.table-inverse{
  background-color: $footer-color;
}

.nav-tabs{
  border-bottom: none;
}

/* Contact */

.contact-headers{
  margin-top: 0.625rem;
}
